@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /*
    Chromium browsers don't render nested backdrop filters.
    As a workaround, add 'before:' to the outer filter, along with 'before:backdrop-hack':

      <div class="before:backdrop-blur-md before:backdrop-hack>
        <div class="backdrop-blur-md"></div>
      </div>

    See https://stackoverflow.com/a/76207141.
  */
  .backdrop-hack {
    @apply absolute inset-0 -z-10;
  }
}

body {
  @apply bg-slate-50 text-slate-900 dark:bg-zinc-950 dark:text-zinc-100 accent-slate-950 dark:accent-zinc-50;
}

.dark {
  color-scheme: dark;
}

html,
body {
  text-rendering: optimizeLegibility;
  font-family: system-ui, sans-serif;
}

.wait * {
  cursor: progress !important;
}

#nprogress {
  z-index: 999 !important;
  position: fixed !important;
}

#nprogress .bar {
  @apply bg-black dark:bg-white !important;
  z-index: 999 !important;
}

#nprogress .peg {
  display: none !important;
  z-index: 999 !important;
}

pre {
  @apply bg-slate-100 p-2 rounded-md my-2 max-w-full whitespace-pre-wrap
  border-slate-200 border dark:bg-zinc-900 dark:border-zinc-800 text-sm;
}

:not(pre) > code {
  @apply bg-slate-100 border border-slate-300 dark:bg-zinc-800
  dark:border-zinc-700;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  padding: 1px;
}

::-webkit-scrollbar-track {
  width: 2px;
  margin: 1px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  @apply bg-slate-200;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-zinc-800;
}
