@import 'tailwindcss';

@plugin '@tailwindcss/container-queries';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: sans-serif;
  --font-system: system-ui;
  --font-inter: Inter, system-ui, sans-serif;
  --font-display: Inter, system-ui, sans-serif;
  --font-mono: monospace;

  --animate-pop-in: pop-in 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

  --ease-cubic: cubic-bezier(0.075, 0.82, 0.165, 1);
  --spacing-22: 88px;

  --color-slate-25: rgb(var(--c-s-25, 252 253 254));
  --color-slate-50: rgb(var(--c-s-50, 248 250 252));
  --color-slate-100: rgb(var(--c-s-100, 241 245 249));
  --color-slate-200: rgb(var(--c-s-200, 226 232 240));
  --color-slate-300: rgb(var(--c-s-300, 203 213 225));
  --color-slate-400: rgb(var(--c-s-400, 148 163 184));
  --color-slate-500: rgb(var(--c-s-500, 100 116 139));
  --color-slate-600: rgb(var(--c-s-600, 71 85 105));
  --color-slate-700: rgb(var(--c-s-700, 51 65 85));
  --color-slate-800: rgb(var(--c-s-800, 30 41 59));
  --color-slate-900: rgb(var(--c-s-900, 15 23 42));
  --color-slate-950: rgb(var(--c-s-950, 2 6 23));

  --color-zinc-50: rgb(var(--c-z-50, 252 252 254));
  --color-zinc-100: rgb(var(--c-z-100, 248 248 251));
  --color-zinc-200: rgb(var(--c-z-200, 235 235 240));
  --color-zinc-300: rgb(var(--c-z-300, 222 222 228));
  --color-zinc-400: rgb(var(--c-z-400, 175 175 185));
  --color-zinc-500: rgb(var(--c-z-500, 128 128 138));
  --color-zinc-600: rgb(var(--c-z-600, 98 98 108));
  --color-zinc-700: rgb(var(--c-z-700, 68 68 76));
  --color-zinc-800: rgb(var(--c-z-800, 47 47 54));
  --color-zinc-900: rgb(var(--c-z-900, 34 34 39));
  --color-zinc-925: rgb(var(--c-z-925, 28 28 32));
  --color-zinc-950: rgb(var(--c-z-950, 25 25 29));

  /* dark theme */
  --color-primary-100: rgb(var(--c-p-100, 248 248 251));
  --color-primary-200: rgb(var(--c-p-200, 175 175 185));

  /* light theme */
  --color-primary-800: rgb(var(--c-p-900, 20 28 47));
  --color-primary-900: rgb(var(--c-p-800, 15 23 42));

  --color-black: rgb(var(--c-o-black, 0 0 0));
  --color-white: rgb(var(--c-o-white, 255 255 255));

  @keyframes pop-in {
    0% {
      transform: translateY(12px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

@custom-variant hover (&:hover);

@font-face {
  font-family: 'Inter';
  src: url('/font/Inter.woff2') format('woff2');
  font-display: swap;
}

body {
  @apply bg-slate-100 text-slate-900 dark:bg-zinc-950 dark:text-zinc-100 accent-slate-950 dark:accent-zinc-50;
}

.dark {
  color-scheme: dark;
}

.wait * {
  cursor: wait !important;
}

#nprogress {
  z-index: 999 !important;
  position: fixed !important;
}

#nprogress .bar {
  @apply bg-primary-900! dark:bg-primary-100!;
  z-index: 999 !important;
  height: 1px !important;
}

#nprogress .peg {
  display: none !important;
  z-index: 999 !important;
}

pre:not(.code-baseline) {
  @apply bg-slate-100 p-2 rounded-xl my-2 max-w-full whitespace-pre-wrap
  border-slate-200 border dark:bg-zinc-950 dark:border-zinc-900 text-xs;
}

:not(pre) > code:not(.code-baseline) {
  @apply bg-slate-100 dark:bg-zinc-950;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  border-radius: 6px;
  font-size: 12px;
}

select:focus-visible,
a:focus-visible,
button:focus-visible {
  outline: none;
  @apply ring-2 ring-offset-1 ring-primary-900 dark:ring-primary-100;
}
